all:
	@echo "set variable for compiler settings in make include file"
	@echo "---------------------------------------------------"
	@echo "syntax (bash): export FORTRAN_COMPILER=compilername"
	@echo "syntax (csh) : setenv FORTRAN_COMPILER compilername"
	@echo "---------------------------------------------------"
	@echo "possible compiler configuration :"
	@echo "---------------------------------"
	@ls -1 make-config
