# Linux GCC include file for makefile
# default compiler gfortran

FC = mpif90

### default options:
#FFLAGS  = -g -p -O0 -xf95-cpp-input -fdefault-real-8  -fsign-zero -fno-f2c
FFLAGS = -g -p -O3 -xf95-cpp-input -fdefault-real-8  -fsign-zero -fno-f2c

### other options:
FFLAGS += -fbounds-check
FFLAGS += -Wall
#FFLAGS += -finit-integer=-9999
#FFLAGS += -finit-real=nan
#FFLAGS += -finit-real=zero
#FFLAGS += -finit-real=nan    # belegt tmp Speicherplatz -> Problem auf laptop

LDFLAGS = -pg -O3

# NetCDF/HDF configuration
ifeq ($(HOST),ifmlinux34)
   FFLAGS      += -mcmodel=medium
   LDLAGS      += -mcmodel=medium
   ifndef $(NETCDFHOME)
      NETCDFHOME = /sw/squeeze-x64/netcdf-latest-static-gcc44
   endif
   ifndef $(HDF5HOME)
      HDF5HOME   = /sw/squeeze-x64/hdf5-latest-static
   endif
   ifndef $(SZIPHOME)
      SZIPHOME   = /sw/squeeze-x64/szip-latest-static
   endif
   INCDIRS     += -I$(NETCDFHOME)/include
   INCDIRS     += -I$(HDF5HOME)/include
   INCDIRS     += -I$(SZIPHOME)/include
   LIBDIRS     += -L$(NETCDFHOME)/lib
   LIBDIRS     += -L$(HDF5HOME)/lib
   LIBDIRS     += -L$(SZIPHOME)/lib
   EXTRA_LIBS  += -lnetcdff -lnetcdf -lhdf5_hl -lhdf5 -lz -lsz
else
   NETCDFHOME = /usr
   INCDIRS     += -I$(NETCDFHOME)/include
   LIBDIRS     += -L$(NETCDFHOME)/lib
   EXTRA_LIBS  += -lnetcdf -lnetcdff
endif

DEFINES     = -DMPI
