# Set options for the IBM xlf90 compiler
IBM_compiler = TRUE

FC = xlf90_r

### default options:
FFLAGS  = -O3 -qhot -q64 -qtune=pwr6 -qarch=pwr6 -qrealsize=8 -qsuffix=cpp=f90 -qxlf90=autodealloc -qstrict -qMAXMEM=-1 -Q -qextname
LDFLAGS = -Wl,-btextpsize:64K


### other options:
# FFLAGS += -qflttrap=nanq
# LDFLAGS += -qflttrap=nanq
# FFLAGS =  -qdpc -qsource -qintsize=8 -qrealsize=8 -q64 -O2 -qstrict  -qreport -qsuffix=cpp=f90  -qfloat=fltint  -qa
# LDFLAGS = -q64 -O2 -qstrict  -qreport -qsuffix=cpp=f90  -qfloat=fltint -qarch=pwr6 -qtune=balanced -qsuppress=1518-
# FFLAGS =  -qdpc -qsource -qintsize=8 -qrealsize=8 -q64 -O2 -qsuffix=cpp=f90
# FFLAGS =  -q64 -qrealsize=8 -qsource -qsuffix=cpp=f90
# FFLAGS =  -qsource -qrealsize=8 -q64   -O3 -qstrict  -qreport -qsuffix=cpp=f90  -qfloat=fltint  -qarch=pwr6 -qtune=balanced  -Wl,-btextpsize:64K
# LDFLAGS = -q64 -O3 -qstrict  -qreport -qsuffix=cpp=f90  -qfloat=fltint -qarch=pwr6 -qtune=balanced -qsuppress=1518-061:1518-128 -Wl,-btextpsize:64K


# http://www.dkrz.de/Nutzerportal-en/doku/blizzard/comp-libs/?searchterm=mpcc
# see how netCDF was build
# $ module load NETCDF   sets the variables $FFLAGS and $LDFLAGS
# $ nf-config --all
# $(info 'xlf.config: netcdf depend on module load NETCDF')

# NetCDF/HDF configuration
NETCDFHOME = /sw/aix61/netcdf-4.2.1.1
HDF5HOME   = /sw/aix61/hdf5-1.8.8
SZIPHOME   = /sw/aix61/szip-2.1
CURLHOME   = /sw/aix61/curl-7.21.3
INCDIRS   += -I$(NETCDFHOME)/include
INCDIRS   += -I$(HDF5HOME)/include
INCDIRS   += -I$(SZIPHOME)/include
LIBDIRS   += -L$(NETCDFHOME)/lib
LIBDIRS   += -L$(HDF5HOME)/lib
LIBDIRS   += -L$(SZIPHOME)/lib
LIBDIRS   += -L$(CURLHOME)/lib
EXTRA_LIBS+= -lnetcdff -lnetcdf -lhdf5 -lhdf5_hl -lz -lsz -lcurl

# mandatory for running the executable on blizzard (otherwise, forcing is read as BIG_ENDIAN !!):
# export XLFRTEOPTS=ufmt_littleendian=220,221,222,223,224,225,226

