# Set options for the GNU Fortran compiler

FC = gfortran

### default options:
#FFLAGS  = -g -p -O0 -xf95-cpp-input -fdefault-real-8  -fsign-zero -fno-f2c
FFLAGS = -g -p -O3 -xf95-cpp-input -fdefault-real-8  -fsign-zero -fno-f2c

### other options:
FFLAGS += -fbounds-check
FFLAGS += -Wall
#FFLAGS += -finit-integer=-9999
#FFLAGS += -finit-real=nan
#FFLAGS += -finit-real=zero
#FFLAGS += -finit-real=nan    # belegt tmp Speicherplatz -> Problem auf laptop

LDFLAGS = -pg -O3

# NetCDF/HDF configuration
NETCDFHOME = $(shell nf-config --prefix)
INCDIRS     += -I$(NETCDFHOME)/include
LIBDIRS     += -L$(NETCDFHOME)/lib
EXTRA_LIBS  += -lnetcdf -lnetcdff
